* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #696869;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

.grid {
  width: 602px;
  height: 600px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid black
 }
.block {
  height: 25px;
  width: 25px;
  /* background-color: red; */
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  float: left;
}
