{% extends 'base.html' %}

{% block body %}
<div class="wrapper">
  <div class="titleBox">
    <h1>SNAKE</h1>
    <p class=title>THE GAME</p>
  </div>
  <div class="centerBox">
    <div class="tabs">
      <ul>
        <li id="score">SCORE:0</li>
        <li class="tab" id="slow">SLOW</li>
        <li class="tab" id="medium">MEDIUM</li>
        <li class="tab" id="fast">FAST</li>
      </ul>
    </div>
    <!-- <div class="scoreboard">
      <p class="scoreboard-title">TOP 10 LEADERBOARD</p>
    </div>
    <div class="grid"></div>
    <table>
      <tr>
        <th>RANK</th>
        <th>NAME</th>
        <th>SCORE</th>
      </tr>
      <tr>
        <td>1</td>
        <td class="1-name">---</td>
        <td class="1-score">---</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="2-name">---</td>
        <td class="2-score">---</td>
      </tr>
      <tr>
        <td>3</td>
        <td class="3-name">---</td>
        <td class="3-score">---</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="4-name">---</td>
        <td class="4-score">---</td>
      </tr>
      <tr>
        <td>5</td>
        <td class="5-name">---</td>
        <td class="5-score">---</td>
      </tr>
      <tr>
        <td>6</td>
        <td class="6-name">---</td>
        <td class="6-score">---</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="7-name">---</td>
        <td class="7-score">---</td>
      </tr>
      <tr>
        <td>8</td>
        <td class="8-name">---</td>
        <td class="8-score">---</td>
      </tr>
      <tr>
        <td>9</td>
        <td class="9-name">---</td>
        <td class="9-score">---</td>
      </tr>
      <tr>
        <td>10</td>
        <td class="10-name">---</td>
        <td class="10-score">---</td>
      </tr>

    </table> -->
  </div>

</div>

{% endblock %}
